@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
html, div, span, h1, h2, p, a, ol, ul, li {
  margin: 0; /*바디태그 margin defalut값 때문에 흰선 발생. 이를 제거 */
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
header {
  background-color: #1b1b1b;
  padding: 24px 18px;
  text-align: center;
}
body {
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #ffffff;
  background-image: url(https://cdn.pixabay.com/photo/2016/12/26/17/28/spaghetti-1932466_1280.jpg);
  overflow: hidden;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input:focus {
  outline: none;
}
a, a:visited, a:hover {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  color: #ccc;
}
* {
  box-sizing: border-box;
}
